@import "./variables.scss";
//list item
@mixin list-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 15px 0px;
    padding: 15px;
    box-shadow: $main-box-shadow;
    border-radius: $main-border-radius;
}

@mixin  app-form {
  width: 100%;
  min-height: 100px;
  margin-top: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: $main-box-shadow;
  border-radius: $main-border-radius;

     label {
       display: flex;
       font-weight: 700;
       margin: 10px 0px;
       span {
         display: inline-block;
         min-width: 110px;
       }
     }

     input,
     select {
       width: 100%;
       outline: none;
       color: $font-color;
       padding: 5px 10px;
       color: $main-color;
       background-color: transparent;
       border: 1px solid $main-color;
       border-radius: 5px;

       &:disabled {
         color: $font-color;
         background-color: transparent;
         border: none;
         border: 1px solid transparent;
       }
     }
}

@mixin sub-menu-btn {
  width: 80px;
  margin: 0px 5px;
  font-size: 13px;
  padding: 5px;
  border:  1px solid $main-color;

  &--cancel {
    background-color: white;
    color:  $main-color
  }
}