@import "./variables.scss";
//list item
@mixin list-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 15px 0px;
  padding: 15px;
  box-shadow: $main-box-shadow;
  border-radius: $main-border-radius;
}

@mixin search-input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  font-size: 13px;
  font-family: $main-font-family;
  border: 0px solid $main-border-color;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(189, 189, 189);
    opacity: 1; /* Firefox */
  }
}

@mixin app-form {
  width: 100%;
  min-height: 100px;
  margin-top: 5px;
  padding: 10px;

  label {
    display: flex;
    margin: 10px 0px;
  }
  span {
    font-weight: 700;
    display: inline-block;
    min-width: 110px;
  }

  input,
  select,
  textarea {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    color: $main-color;
    font-size: 13px;
    font-family: $main-font-family;
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 5px;

    &:disabled {
      color: $font-color;
      background-color: transparent;
      border: none;
      border: 1px solid transparent;
    }
  }
}

@mixin sub-menu-btn {
  width: 80px;
  margin: 0px 5px;
  font-size: 13px;
  padding: 5px;
  border: 1px solid $main-color;

  &--cancel {
    background-color: white;
    color: $main-color;
  }
}
