// Colors

$main-color: #FF3BEB;

$font-color: #555555;

$secondary-font-color: #838383;

$main-font-family: 'Nunito', sans-serif;

$main-box-shadow: 3px 3px 3px 3px #00000003;

$main-border-color: #ececec;


//Main button
$fuschia: $main-color;

$button-bg: $fuschia;

$button-text-color: #fff;

$baby-blue: #f8faff;

//sizer 
$nav-bar-height: 55px;

$main-border-radius: 10px;
