// Colors

$main-color: #FF3BEB;

$font-color: #A3A3A3;

$main-font-family: 'Open Sans', sans-serif;

$main-box-shadow: 3px 3px 3px 3px #00000003;

$main-border-radius: 5px;

//Main button
$fuschia: $main-color;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;